<form [formGroup]="passwordForm" (ngSubmit)="formSubmitted()">
  <label for="old">Old Password</label>
  <input id="old" type="password" formControlName="old"> 

  <div *ngIf="form.old.invalid && (form.old.dirty || form.old.touched)">
          <div *ngIf="form.old.hasError('required')">
            Required
          </div>
  </div>


    <label for="new">New Password</label>
    <input id="new" type="password" formControlName="new"> 

    <div *ngIf="form.new.invalid && (form.new.dirty || form.new.touched)">
            <div *ngIf="form.new.hasError('required')">
              Required
            </div>
    </div>

    <label for="confirm">Confirm New Password</label>
    <input id="confirm" type="password" formControlName="confirm"> 

    <div *ngIf="form.confirm.invalid && (form.confirm.dirty || form.confirm.touched)">
            <div *ngIf="form.confirm.hasError('required')">
              Required
            </div>
    </div>

    <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
</form>