<form [formGroup]="passwordForm" (ngSubmit)="formSubmitted()" class="items-center justify-center">
  <input id="old" type="password" formControlName="old"  class="m-1 rounded-md" placeholder="Old Password"> 

  <div *ngIf="form.old.invalid && (form.old.dirty || form.old.touched)">
          <div *ngIf="form.old.hasError('required')" class="text-red-600">
            Required
          </div>
  </div>


    <input id="new" type="password" formControlName="new"  class="m-1 rounded-md" placeholder="New Password"> 

    <div *ngIf="form.new.invalid && (form.new.dirty || form.new.touched)">
            <div *ngIf="form.new.hasError('required')" class="text-red-600">
              Required
            </div>
    </div>

    <input id="confirm" type="password" formControlName="confirm"  class="m-1 rounded-md" placeholder="Confirm Password"> 

    <div *ngIf="form.confirm.invalid && (form.confirm.dirty || form.confirm.touched)">
            <div *ngIf="form.confirm.hasError('required')" class="text-red-600">
              Required
            </div>
    </div>

    <button type="submit" [disabled]="!passwordForm.valid" class="hover:bg-slate-200 p-2 ml-6 rounded-md">Submit</button>
</form>