<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <label for="title">First Name: </label>
    <input id="title" type="text" formControlName="title">
    <label for="desc">Last Name: </label>
    <input id="desc" type="text" formControlName="desc">
    <label for="content">Last Name: </label>
    <input id="content" type="text" formControlName="content">
    <input id="image" type="file" (change)="onImagePicked($event)">
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>